Card(
    name: "Alchemist",
    colors: [Purple, Red, Blue],
    card_type: Hero,
    text: "Every action has an equal opposite reaction",
    image: "cards/Alchemist.png",
    damage: Some(1),
    hp: Some(1),
)