Card(
    name: "Archive",
    colors: [Blue, Purple, Yellow],
    card_type: Hero,
    text: "A repository or collection especially of information",
    image: "cards/Archive.png",
    damage: Some(1),
    hp: Some(1),
)