Card(
    name: "Druid",
    colors: [Yellow, Purple, Green],
    card_type: Hero,
    text: "You are not alone if there are trees",
    image: "cards/Druid.png",
    damage: Some(1),
    hp: Some(1),
)