Card(
    name: "Grimmage",
    colors: [Purple, Blue, Teal],
    card_type: Hero,
    text: "I've mastered the forbidden arts",
    image: "cards/Grimmage.png",
    damage: Some(1),
    hp: Some(1),
)