Card(
    name: "Herbalist",
    colors: [Purple, Yellow, Green],
    card_type: Hero,
    text: "Remember to eat your greens",
    image: "cards/Herbalist.png",
    damage: Some(1),
    hp: Some(1),
)