Card(
    name: "Hydrant",
    colors: [Blue, Green, Yellow],
    card_type: Beast,
    text: "Did you know their colors have meanings?",
    image: "cards/Hydrant.png",
    damage: Some(1),
    hp: Some(1),
)