Card(
    name: "Medium",
    colors: [Yellow, Purple, Blue],
    card_type: Hero,
    text: "Your failure is certain. Surrender",
    image: "cards/Medium.png",
    damage: Some(1),
    hp: Some(1),
)