Card(
    name: "Minotaur",
    colors: [Green, Yellow, Red],
    card_type: Hero,
    text: "Who leaves a baby in a labyrinth?",
    image: "cards/Minotaur.png",
    damage: Some(1),
    hp: Some(1),
)