Card(
    name: "Moonack",
    colors: [Teal, Purple, Green],
    card_type: Beast,
    text: "How much wood would a woodchuck chuck?",
    image: "cards/Moonack.png",
    damage: Some(1),
    hp: Some(10),
)