Card(
    name: "Mummy",
    colors: [Yellow, Purple, Teal],
    card_type: Hero,
    text: "When all you know is dying, would you surrender as well?",
    image: "cards/Mummy.png",
    damage: Some(1),
    hp: Some(1),
)