Card(
    name: "MusicBox",
    colors: [Purple, Red, Yellow],
    card_type: Beast,
    text: "Is box of music. What more you want?",
    image: "cards/MusicBox.png",
    damage: Some(1),
    hp: Some(10),
)