Card(
    name: "Silkmoth",
    colors: [Green, Teal, Blue],
    card_type: Beast,
    text: "Can't spell bombyx without bomb",
    image: "cards/Silkmoth.png",
    damage: Some(1),
    hp: Some(1),
)