Card(
    name: "Sweety",
    colors: [Red, Purple, Green],
    card_type: Hero,
    text: "Cotton Candy! Cottan Candy Anyone?",
    image: "cards/Sweety.png",
    damage: Some(1),
    hp: Some(10),
)