Card(
    name: "Urodela",
    colors: [Green, Purple, Red],
    card_type: Beast,
    text: "All salamanders have no more than 18 toes",
    image: "cards/Urodela.png",
    damage: Some(1),
    hp: Some(1),
)